# bash aliases
alias ll='ls -alhF'
alias la='ls -A'
alias l='ls -CF'
alias upfullclean='sudo apt-get update -y && sudo apt-get upgrade -y && sudo apt-get autoremove -y'
alias upfull='sudo apt-get update -y && sudo apt-get upgrade -y'
alias up10k='git -C ${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/powerlevel10k pull'
alias weather='curl wttr.in/Braunschweig'

# python
venv() {
    if [ -z "$1" ]; then
        echo "No python version provided. Defaulting to python3.10"
        python3.10 -m venv .venv
    else
        echo "Creating venv for python $1"
        python"$1" -m venv .venv
    fi

    source .venv/bin/activate
    pip install -U pip

    if [ -n "$2" ] && [ "$2" = "dev" ]; then
        echo "Installing dev packages"
        pip install flake8 black mypy isort pytest
    else
        echo "Skipping dev packages"
    fi
}

alias avenv='source .venv/bin/activate'
alias dvenv='deactivate'
