set linenumbers
set tabsize 4
set autoindent
set fill -10
set smooth
set tabstospaces

set numbercolor white

include /usr/share/nano/css.nanorc
include /usr/share/nano/html.nanorc
include /usr/share/nano/java.nanorc
include /usr/share/nano/javascript.nanorc
include /usr/share/nano/json.nanorc
include /usr/share/nano/python.nanorc
include /usr/share/nano/sh.nanorc
